{% extends "base.html" %} {% block content %} {% load static %}
<header>
  <div class="background">
      <img src="{% static 'img/blue-header-background.png' %}"/>
      <div class="text">
          <h1>Edit Post</h1>
      </div>
      
  </div>
</header>

<section class="content">
  <section class="post_form">
    <form
      action="/edit/{{post.id}}/"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <section class="forum">
        <input type="text" name="name" value="{{post.name}}" required />
        <input name="body" value="{{post.body}}" required></input>
        {% if post.image.url %}

        <img class="post-section" src="{{post.image.url}}" style="width: 250px; height: 200px;" alt="">
        {% endif %}
        <br>
        <input type="file" name="image" id="uploadimage" />
        

        <input type="submit" value="Save" />
        <a class="cancel" href="/">
          <input type="button" id="delete" value="Cancel" />
        </a>
      </section>
    </form>
  </section>
  <!-- <section class="edit_post"> -->
  <!-- <ul>
            
            <li>
                <div class="logo">
                    <img src=" {%static 'img/user-icon.png'%}"/>
                </div>

                <div class="edit_post_body">
                    <div class="name">{{ post.name }}</div>
                    <div class="datetime">{{ post.created_at }}</div>
                    <p> {{ post.body}} </p>
                </div>
                
            </li>
        </ul> -->
  <!-- </section> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
        <script src="{% static 'js/posts.js' %}"></script> -->
</section>

{% endblock %}
